## Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

## Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

list the objectives that this notebook covered:
* Introduction
* A list of data science languages
* A list of data science libraries
* A list of data science tools
* Examples of evaluating arithmetic expressions in Python

## Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. C++
4. C

## Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. Scikit-learn

## Exercise 6 - Create a markdown cell with a table of Data Science tools

| a table of Data Science tools |
|---|
| JupyterLite | 
| Apache Spark | 
| CodePen |
| Visual Studio | 
| Google Colab |

## Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

In [17]:
# Arithmetic operations
code = 5+4
print("Result is: "+str(code))
# Result: 9

Result is: 9

## Exercise 8 - Create a code cell to multiply and add numbers

This a simple arithmetic expression to mutiply then add integers

In [18]:
(3*4)+5
# Result: 17

17

## Exercise 9 - Create a code cell to convert minutes to hours

This will convert 200 minutes to hours by diving by 60

In [19]:
minite_time = 200
hour_time = minite_time/60
print( str(hour_time) + " hours " )

3.3333333333333335 hours

## Exercise 10 - Insert a markdown cell to list Objectives

## Exercise 11 - Create a markdown cell to indicate the Author's name


## Author: 
Zihao Gu